{% extends "base.html" %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-body">

        <h1>
            {{ course.title }}
        </h1>

        <hr>

        <h3>
            Instructor
        </h3>

        <p>
            {{ course.instructor }}
        </p>

        <h3>
            Price
        </h3>

        <p>
            ${{ course.price }}
        </p>

        <h3>
            Students
        </h3>

        <p>
            {{ course.students_count }}
        </p>

        <h3>
            Description
        </h3>

        <p>
            {{ course.description }}
        </p>

        {% if user.is_authenticated and user.instructor == course.instructor %}

            <a
                href="{% url 'update_course' course.id %}"
                class="btn btn-warning"
            >
                Edit
            </a>

            <a
                href="{% url 'delete_course' course.id %}"
                class="btn btn-danger"
            >
                Delete
            </a>

        {% endif %}

        <a
            href="{% url 'course_list' %}"
            class="btn btn-secondary"
        >
            Back to Courses
        </a>

    </div>

</div>

{% endblock %}