{% extends "base.html" %}

{% block content %}

    <div class="card shadow-sm">

        <div class="card-body">

            <h1>
                {{ course.title }}
            </h1>

            <hr>

            <h3>
                Instructor
            </h3>

            <p>
                {{ course.instructor }}
            </p>

            <h3>
                Price
            </h3>

            <p>
                ${{ course.price }}
            </p>

            <h3>
                Students
            </h3>

            <p>
                {{ course.enrollments.count }}
            </p>

            <h3>
                Description
            </h3>

            <p>
                {{ course.description }}
            </p>

            {% if user.is_authenticated %}

                {% if user.instructor != course.instructor %}

                    {% if is_enrolled %}

                        <form
                                method="post"
                                action="{% url 'unenroll_course' course.id %}"
                        >

                            {% csrf_token %}

                            <button
                                    type="submit"
                                    class="btn btn-danger"
                            >
                                Unenroll
                            </button>

                        </form>

                    {% else %}

                        <form
                                method="post"
                                action="{% url 'enroll_course' course.id %}"
                        >

                            {% csrf_token %}

                            <button
                                    type="submit"
                                    class="btn btn-success"
                            >
                                Enroll
                            </button>

                        </form>

                    {% endif %}

                {% else %}

                    <a
                            href="{% url 'update_course' course.id %}"
                            class="btn btn-warning"
                    >
                        Edit
                    </a>

                    <a
                            href="{% url 'delete_course' course.id %}"
                            class="btn btn-danger"
                    >
                        Delete
                    </a>

                {% endif %}

            {% else %}

                <a
                        href="{% url 'login' %}"
                        class="btn btn-success"
                >
                    Login to Enroll
                </a>

            {% endif %}

            <a
                    href="{% url 'course_list' %}"
                    class="btn btn-secondary"
            >
                Back to Courses
            </a>

        </div>

    </div>

{% endblock %}