{% extends "base.html" %}

{% block content %}

<div class="card shadow-sm">

    <div class="card-body">

        <h2>Create Course</h2>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-success"
            >
                Create
            </button>

            <a
                href="{% url 'course_list' %}"
                class="btn btn-secondary"
            >
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}